/*Auto Popup Start*/
.popup-screen{
  z-index: 999999;
  position: fixed;
  /*background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);*/
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 0.5s ease;
  transition-property: visibility;
}

.popup-screen.active{
  visibility: visible;
}

.popup-box{
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  transform: scale(0);
  transition: 0.5s ease;
  transition-property: transform;
}

.popup-screen.active .popup-box{
  transform: scale(1);
}

.popup-box img{
  width: 100%
}
.popup-box a{
  display: block;
  width: 200px;
  position: relative;
  margin: 10px auto;
  border-radius: 20px;
  text-align: center;
  font-weight: 800;
  background-color: #0f72e5;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
  animation-name: pop;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes pop {
  0%   {background-color:green; transform: rotate(0deg);}
  25%  {background-color:purple; transform: rotate(0deg);}
  50%  {background-color:blue; transform: rotate(0deg);}
  75%  {background-color:red; transform: rotate(0deg);}
  100% {background-color:BlueViolet; transform: rotate(0deg);}
}

.close-btn{
  position: absolute;
  font-size: 1.5em;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease;
  transition-property: opacity;
}

.close-btn:hover{
  opacity: 1;
}
/*Auto Popup End*/

/*Notice Start*/
.notice{
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--red-color);
  text-decoration: none;
}
.marquee{
  padding-top: 10px;
}
/*Notice End*/

/*Time Message Start*/
.typing-msg {
  display: inline-block;/*inline-block*/
}
#time-msg {
  font-size: 1.5rem;
  letter-spacing: 3px;
  border-right: 2px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s infinite alternate;
}
/* typing effect */
@keyframes typing {
  from {width: 0;}
  to {width: 100%;}
}
/*#time-msg{
  font-size: 1.5rem;
  text-align: center;
}*/
/*Time Message End*/

/*Digital Clock Start*/
.digital-clock {
  position: relative;
  color: #fff;
  background: var(--white-color);/*#2d2f41*/
  width: 425px;
  padding: 20px 45px;
  box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.digital-clock:before {
  content: '';
  position: absolute;
  background: linear-gradient(45deg, #24ff6d, #2f93f1, #ff5e9a);
  background-size: 200% 200%;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  filter: blur(40px);
  animation: glowing 10s ease infinite;
}
@keyframes glowing{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
.time {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hours, .dots, .minutes{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-weight: 600; 
  padding: 10px; 
  line-height: 125px;
}
.hours, .minutes{ 
  font-size: 6.5em; 
  width: 125px; 
}
.dots{
  font-size: 5em;
  color: #929292;
}

.hours{
  background: var(--dynamic-yellow); /*-webkit-linear-gradient(90deg, #634dff, #5fd4ff)*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.minutes{
  background: var(--palegreen2-color);/*-webkit-linear-gradient(90deg, #ff5e9a, #ffb960)*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.right-side{
  position: relative; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  margin-left: 10px; 
}

.period, .seconds{ 
  font-size: 1.2em; 
  font-weight: 500;
}
.period {
  transform: translateY(-20px);
  background: var(--light-pink);/*-webkit-linear-gradient(90deg, #f7b63f, #faf879)*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.seconds {
  transform: translateY(16px);
  background: var(--aqua-blue);/*-webkit-linear-gradient(90deg, #24ff6d, #2f93f1)*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 5px;
  background: var(--light-purple);/*-webkit-linear-gradient(90deg, #ae4af6, #ff98d1)*/
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.day-name, .day-number, .year{ 
  margin-left: 8px;
}
.dot-menu-btn {
  position: absolute;
  top: -5px;/*0*/
  right: 0;
  margin: 10px;
  color: var(--grey-color);/*#efefef*/
  font-size: 1.5em;
  cursor: pointer;
}
.dot-menu {
  z-index: 999;
  position: absolute;
  top: 0px;
  right: 0px;/*5*/
  list-style: none;
  background: #353e54;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}
.dot-menu.active {
  visibility: visible; 
  opacity: 1;
}
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-format-text {
  color: #efefef;
  font-size: 0.9em;
  margin-right: 20px;
}

.format-switch-btn {
  width: 35px;
  height: 15px;
  background: #485470;
  border-radius: 75px;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
              inset -2px -2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.format-switch-btn:before{ 
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background: #ff5e9a;
  border-radius: 50%;
  box-shadow: 0 5px 25px #ff5e9a;
  transform: translateX(-10px);
  transition: 0.3 ease;
  transition-property: background, transform;
}
.format-switch-btn.active:before{ background: #0bff8d; 
  box-shadow: 0 5px 25px #0bff8d;
  transform: translateX(10px); 
}
/*Digital Clock End*/

/*Image Slider Start*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-right: 10px;
}
.mySlides img {
  width: 100%;
  height: 200px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slider-text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*Image Slider End*/

/*Welcome Start*/
.wlc{
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: var(--green-color);
}
/*h1.wlc{
  position: relative;
  font-size: 5.3vw;
  font-weight: 800;
  color: #000000;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
}
h1.wlc::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  Left: 0;
  width: 0;
  height: 100%;
  color: var(--green-color);
  -webkit-text-stroke: 0vw var(--green-color);
  border-right: 2px solid var(--green-color);
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate{
  0%,10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}*/
.wlc-mbl {
  font-size: 2.5rem;
  text-align: center;
  color: var(--green-color);
}
.wlc-mbl p{
  font-family: 'Lobster', cursive;
  font-weight: 1000;
}
/*Welcome End*/


/*Counter Start*/
.counter-up{
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.counter-up::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.counter-up .content{
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.counter-up .content .box{
  border: 2px dashed var(--purple-color);
  box-shadow: 0px 0px 15px var(--purple-color);
  width: calc(25% - 30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
}
.content .box .icon{
  font-size: 48px;
  color: var(--purple-color);
}
.content .box .counter{
  font-size: 50px;
  font-weight: 500;
  color: var(--purple-color);
  font-family: sans-serif;
}
.content .box .text{
  font-weight: 400;
  color: var(--purple-color);
}
@media screen and (max-width: 1036px) {
  .counter-up{
    padding: 50px 50px 0 50px;
  }
  .counter-up .content .box{
    width: calc(50% - 30px);
    margin-bottom: 50px;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .counter-up .content .box{
    width: calc(50% - 10px);
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .counter-up{
    padding: 30px 20px 0 20px;
  }
}

/*Counter End*/


.heading{
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 10px;
  color: var(--blue-color);
  font-size: 2rem;
  font-family: 'Oleo Script', cursive;
  text-transform: capitalize;
  border: 2px solid var(--blue-color);
  border-radius: 50px;
  box-shadow: 5px 5px 40px var(--blue-color);
}

/*subjects section start*/
#subject-cards{
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
}
#subject-cards .card{
  width: 0px;
  height: 210px;
  background: var(--pinktone-color);
  border: 2px solid var(--dodgerblue2-color);
  margin: 10px;
  border-radius: 20px;
}
#subject-cards .card{
  text-align: center;
  text-decoration: none;
}
#subject-cards .card:hover{
  background: wheat;
}
#subject-cards .card #icon-size{
  font-size: 4rem;
  color: var(--dodgerblue2-color);
  margin-top: 20px;
}
#subject-cards .card h3{
  font-size: 1.5rem;
  color: var(--black-color);
}
#subject-cards .card p{
  color: gray;
}
/*subjects section end*/


/*Voice Of Chairman Srart*/
.ceo-box {
  margin-bottom: 50px;
  width: 100%;
  padding: 8px;
}
.ceo-pic {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #8B53FF;
}
.ceo-voice {
  font-size: 1.2rem;
  font-family: 'Galada', cursive;
  color: var(--black-color);
}
.ceo-voice::first-letter{
  font-size: 2.8rem;
  color: red;
}
#ceo-voice {
  padding-top: 20px;
  text-align: justify;
}
.ceo-name {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Galada', cursive;
  color: var(--black-color);
}
/*Voice Of Chairman End*/


/*Image Gallery Start*/
.ig{
  text-decoration: none;
}
.ig img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.ig p{
  font-size: 0.6rem;
  color: var(--black-color);
  font-weight: 800;
  text-align: center;
}
#vap {
  margin-left: 8.27px;
}
button.vap {
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 20px;
  color: var(--white-color);
  background-color: var(--green2-color);
  position: relative;
}
button.vap:hover{
  color: #fff;
  background-color: #228B22;
}

/*Rotating Image Slider Start*/
#image-container {
  margin: 0;
  margin-top: -34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
  /*background-color: black;*/
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s;
}

.image-container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-container {
  position: relative;
  width: 80%;
  margin-top: 30px;
}

.btn {
  position: absolute;
  bottom: -80px;
  background-color: var(--purple-color);
  color: var(--white-color);
  font-size: 30px;
  font-weight: 800;
  border: none;
  padding: 12px 20px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.btn:active{
  transform: translateY(-50%) scale(0.85);
}

.btn:hover {
  filter: brightness(1.5);
}

#prev {
  left: 20%;
}

#next {
  right: 20%;
}
/*Rotating Image Slider End*/

/*Image Gallery End*/


/*Video Gallery Start*/
.vg{
  text-decoration: none;
}
.vg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.vg p{
  font-size: 0.6rem;
  color: var(--black-color);
  font-weight: 800;
  text-align: center;
}
#vav{
  margin: -0.32rem;
}
button.vav{
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 20px;
  color: var(--white-color);
  background-color: var(--green2-color);
  position: relative;
  margin-bottom: 5px;
}
button.vav:hover {
  color: #fff;
  background-color: #228B22;
}
/*Video Gallery End*/


/*News Corner Start*/
.wrapper-news {
  max-width: 1100px;
  width: 100%;
  position: relative;
  display: flex;
  margin-left: -5px;
  align-items: center;
  justify-content: center;
}
#left{
  margin-left: 20px;
}
#right{
  margin-right: 20px;
}
.wrapper-news i {
  top: 50%;
  height: 50px;
  width: 50px;
  margin-right: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper-news i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper-news i:first-child{
  left: -22px;
}
.wrapper-news i:last-child{
  right: -22px;
}
.wrapper-news .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 420px;
  list-style: none;
  background: var(--dodgerblue-color);
  cursor: pointer;
  padding-bottom: 20px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 170px;
  width: 320px;
  border-radius: 0%;
}
.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card p {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--black-color);
  text-align: center;
  margin: 45px 0 5px;
}
.carousel .card span {
  color: var(--yellow-color);
  font-size: 1rem;
}
.button{
  border: none;
  font-size: 15px;
  color: var(--white-color);
  padding: 8px 16px;
  background-color: var(--black-color);
  border-radius: 6px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (max-width: 900px) {
  .wrapper-news .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper-news .carousel {
    grid-auto-columns: 100%;
  }
}
/*News Corner Start*/



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .mySlides img {
     width: 100%;
     height: px;
   }
  .wlc{
    display: none;
  }
  #subject-cards {
    justify-content: center;
  }
  
  #subject-cards .card {
    width: calc(90% / 2 - 10px);
  }
  #subject-cards .card #icon-size {
    font-size: 3.5rem;
  }
  .ceo-voice {
    font-size: 1.2rem;
  }
  #image-container{
    height: 60vh;
  }
  .btn-container{
    margin-top: 0px;
  }
  /*.ig img {
    width: %;
  }*/
  .ig p {
    font-size: rem;
  }
  /*.vg img {
      width: %;
    }*/
  .vg p {
    font-size: rem;
  }
  .wrapper-news {
    margin-left: px;
  }
  .carousel .card .img {
    height: px;
    width: px;
  }
  .digital-clock {
    width: 340px;
  }
  .hours, .minutes{ 
    font-size: 3em; 
    width: 90px; 
  }
  .dots{
    font-size: 3em;
  }
  .period, .seconds{ 
    font-size: 1em;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mySlides img {
    width: 100%;
    height: 250px;
  }
  .wlc-mbl {
    display: none;
  }
  #subject-cards {
    justify-content: center;
  }
  
  #subject-cards .card {
    width: calc(90% / 3 - 10px);
  }
  #subject-cards .card #icon-size {
    font-size: 4rem;
  }
  .ceo-voice {
    font-size: 1.3rem;
  }
  .ceo-name{
    font-size: 1.3rem;
  }
  #image-container {
    height: 100vh;
  }
 .btn{
   bottom: -30px;
 }
 #vap {
   margin-left: 0px;
   margin-bottom: 34.5px;
 }
  /*.ig img {
      width: %;
    }*/
  .ig p {
    font-size: rem;
  }
  /*.vg img {
      width: %;
    }*/
  .vg p {
    font-size: rem;
  }
  .wrapper-news {
    margin-left: 20px;
  }
  .carousel .card .img {
    height: px;
    width: px;
  }
  .digital-clock{
    width: 600px;
    margin-left: 50px;
  }
  .hours, .minutes{ 
    font-size: 4.5em; 
    width: 120px; 
  }
  .dots{
    font-size: 4.5em;
  }
  .period, .seconds{ 
    font-size: 1.5em;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mySlides img {
    width: 100%;
    height: 350px;
  }
  .wlc-mbl {
    display: none;
  }
  #subject-cards {
    justify-content: center;
  }
  
  #subject-cards .card {
    width: calc(60% / 2 - 10px);
  }
  #subject-cards .card #icon-size {
    font-size: 4rem;
  }
  .ceo-voice {
    font-size: 1.5rem;
  }
  .ceo-name {
    font-size: 1.5rem;
  }
  #image-container {
    height: 30vh;
  }
   /*.ig img {
      width: %;
    }*/
  .ig p {
    font-size: 1.2rem;
  }
   /*.vg img {
      width: %;
    }*/
  .vg p {
    font-size: 1.2rem;
  }
  .wrapper-news {
    margin-left: 20px;
  }
  .carousel .card .img {
    height: 180px;
    width: 290px;
  }
  .popup-box{
    max-width: 750px;
  }
  .popup-box a{
    width: 350px;
    padding: 25px 0px;
    font-size: 2rem;
  }
  .close-btn{
    font-size: 3em;
  }
  .digital-clock{
    width: 800px;
    margin-left: 80px;
  }
  .hours, .minutes{ 
    font-size: 4em; 
    width: 200px; 
  }
  .dots{
    font-size: 5em;
  }
  .period, .seconds{ 
    font-size: 1.5em;
  }
  
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mySlides img {
    width: 100%;
    height: px;
  }
  .wlc-mbl {
    display: none;
  }
  #subject-cards {
    justify-content: center;
  }
  
  #subject-cards .card {
    width: calc(80% / 3 - 10px);
  }
  #subject-cards .card #icon-size {
    font-size: 4rem;
  }
  .ceo-voice {
    font-size: rem;
  }
  .ceo-name {
    font-size: rem;
  }
  #image-container {
    height: 30vh;
  }
 .ig img{
   width: 40%;
 }
  .ig p {
    font-size: rem;
  }
   .vg img {
     width: 40%;
   }
  .vg p {
    font-size: rem;
  }
  .wrapper-news {
    margin-left: 100px;
  }
  .carousel .card .img {
    height: px;
    width: px;
  }
  .popup-box{
    max-width: 750px;
  }
  .popup-box a{
    width: 350px;
    padding: 25px 0px;
    font-size: 2rem;
  }
  .close-btn{
    font-size: 3em;
  }
  .digital-clock{
    width: 900px;
    margin-left: 90px;
  }
  .hours, .minutes{ 
    font-size: 6em; 
    width: 200px; 
  }
  .dots{
    font-size: 6em;
  }
  .period, .seconds{ 
    font-size: 1.5em;
  }
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mySlides img {
    width: 100%;
    height: px;
  }
  .wlc-mbl {
    display: none;
  }
  #subject-cards {
    justify-content: center;
  }
  
  #subject-cards .card {
    width: calc(80% / 3 - 10px);
  }
  #subject-cards .card #icon-size {
    font-size: 4rem;
  }
  .ceo-voice {
    font-size: rem;
  }
  .ceo-name {
    font-size: rem;
  }
  #image-container {
    height: 30vh;
  }
  /*.ig img {
       width: %;
  }*/
  .ig p {
    font-size: rem;
  }
  /*.vg img {
       width: %;
     }*/
  .vg p {
    font-size: rem;
  }
  .wrapper-news {
    margin-left: px;
  }
  .carousel .card .img {
    height: px;
    width: px;
  }
  .popup-box{
    max-width: 750px;
  }
  .popup-box a{
    width: 350px;
    padding: 25px 0px;
    font-size: 2rem;
  }
  .close-btn{
    font-size: 3em;
  }
  .digital-clock{
    width: 900px;
    margin-left: 90px;
  }
  .hours, .minutes{ 
    font-size: 6em; 
    width: 200px; 
  }
  .dots{
    font-size: 6em;
  }
  .period, .seconds{ 
    font-size: 1.5em;
  }
  
}
