.heading {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 10px;
  color: var(--blue-color);
  font-size: 2rem;
  font-family: 'Galada', cursive;
  padding-top: 10px;
  text-transform: capitalize;
  border: 2px solid var(--blue-color);
  border-radius: 50px;
  box-shadow: 5px 5px 40px var(--blue-color);
}
#site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#player {
}

.player { 
  margin: auto;
  max-width: 50em;
  padding: 1em;
}
.player__video{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
iframe {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 5px solid darkorchid;
  border-radius: 8px;
}

#gallery {
}

.gallery {
  background-color: lightgray;
  padding: 1em;
}
.gallery__item{
  align-items: center;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0 0.75em;
}
.gallery__item:hover {
  font-size: 18px;
  color: darkorange;
  border-left: 10px double darkorange;
}
.gallery__item__span:hover{
  position: relative;
  animation: mymove 0.28s infinite;
  animation-direction:alternate-reverse;
}
/*@keyframes mymove {
  0%   {top: 0px; bottom: 3px;}
  25%   {top: 3px; bottom: 3px;}
  50%   {top: 0px; bottom: 3px;}
  75%   {top: 3px; bottom: 0px;}
  100% {top: 3px; bottom: 0px;}
}*/

.gallery__item__img{
  width: 50%;
}
.gallery__item__span{
  padding-left: 1em;
  text-shadow: 1px 1px 2px red;
  width: 60%;
}

@media screen and (min-width: 30em) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.75em;
  }
}

@media screen and (min-width: 48em) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
