@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
.heading{
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  margin-right: 10px;
  color: var(--blue-color);
  font-size: 2rem;
  font-family: 'Galada', cursive;
  padding-top: 10px;
  text-transform: capitalize;
  border: 2px solid var(--blue-color);
  border-radius: 50px;
  box-shadow: 5px 5px 40px var(--blue-color);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: -5px;
}
td, th {
  border: 2px solid var(--blue-color);
  text-align: center;
  padding: 20px;
  font-family: 'Gideon Roman', serif;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
tr:nth-child(even) {
  color: var(--purple-color);
}
.ad{
  font-size: 2.5rem;
  font-weight: 1000;
}
.sh, .cf td{
  font-size: 1.8rem;
  font-weight: 800;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .ad, .sh, .cf td{
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ad, .sh, .cf td{
    font-size: rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ad, .sh, .cf td{
    font-size: rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ad, .sh, .cf td{
    font-size: rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ad, .sh, .cf td{
    font-size: rem;
  }
}
