footer{
  /*position: fixed*/
  position: static;
  bottom: 0px;
  width: 100%;
  color: var(--blue-color);
  background-color: var(--white-color);
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.5rem;
  font-family: 'oleo script', cursive;
  font-weight: 600;
  text-transform: uppercase;
}
.content p{
  font-family: 'Galada', cursive;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
#social{
  margin-bottom: 40px;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  color: var(--white-color);
  background: var(--blue-color);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover {
  color: white;
  background: #000;
  border: 1.5px solid var(--blue-color);
  padding-bottom: 40px;
}
.center .content .fas{
  font-size: 1.4375rem;
  color: var(--white-color);
  background: var(--blue-color);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.web {
  margin-top: 15px;
}

.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.phone a, .email a, .web a{
  text-decoration: none;
  color: var(--blue-color);
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  color: white;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .connect-btn{
  margin-top: 10px;
}
.right form .connect-btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  color: var(--white-color);
  background: var(--blue-color);
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.bottom{
  margin-top: 30px;
}
.bottom center{
  padding: 5px;
  margin-top: -18px;
  font-size: 1.2rem;
  background: var(--white-color);
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: var(--blue-color);
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
hr.hr1{
  border-top: 2px dashed var(--blue-color);
}
.credit-name{
  font-weight: 500;
}



/*Visitor Counter CSS Start*/
.group-icon{
  font-size: 100px;
  text-align: center;
}
#count{
  color: var(--blue-color);
  font-size: 2.5rem;
  text-align: center;
  padding-top: 0px;
}
#count-text{
  font-size: 1.5rem;
  font-family: 'Acme', sans-serif;
  margin-top: 10px;
}
load{
  font-size: 2rem;
}
#count2{
  display: none;
}
/*Visitor Counter CSS End*/





@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .bottom {
    margin-top: px;
  }
  #count-text {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .bottom {
    margin-top: px;
  }
  #count-text {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 .bottom {
    margin-top: 30px;
  }
  #count-text {
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bottom {
    margin-top: px;
  }
  #count-text {
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 .bottom {
   margin-top: px;
 }
 #count-text {
   text-align: center;
 }
}
