.heading{
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
  margin-right: 10px;
  color: var(--blue-color);
  font-size: 2rem;
  font-family: 'Galada', cursive;
  padding-top: 10px;
  text-transform: capitalize;
  border: 2px solid var(--blue-color);
  border-radius: 50px;
  box-shadow: 5px 5px 40px var(--blue-color);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: -5px;
}
td, th {
  border: 2px solid var(--blue-color);
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
tr:nth-child(even) {
  color: var(--darkgreen-color);
}
.view a{
  font-size: 25px;
  color: #4169E1;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  td, th{
  font-size: 15px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  td, th {
    font-size: px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  td, th {
    font-size: px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  td, th {
    font-size: px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  td, th {
    font-size: px;
  }
}
