.heading {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  margin-right: 10px;
  color: var(--blue-color);
  font-size: 2rem;
  font-family: 'Galada', cursive;
  padding-top: 10px;
  text-transform: capitalize;
  border: 2px solid var(--blue-color);
  border-radius: 50px;
  box-shadow: 5px 5px 40px var(--blue-color);
}